.header {
    z-index: 99999;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: 80%;
    background-image: url("../images/Background\ image.jpg");
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header nav {
    text-align: right;
    padding: 0px 50px 0px 50px;
}

header nav ul {
    font-size: larger;
    list-style: none;
}

.container {
    
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero {
    background-position: 40%;
    background-image: url("../images/Background\ image.jpg");
    border-style: groove;
}

section.run-buddy {
    background-image: url("../images/Background\ image.jpg");
    background-size: cover;
    background-color: #D2B48C;
    border-style: groove;
}

section.project-two {
    border-style: groove;
}

section.project-three {
    border-style: groove;
}

address {
    font-style: normal;
}

.social-media img {
    width: 5%;
    margin: 33px;
}

section.footer {
    border-style: groove;
}

/*Media Query For Smaller Desktop Screens and Smaller */
@media screen and (max-width: 980px) {
    header {
        position: relative;
    }
}