* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

header {
    z-index: 99999;
    background-image: url("../images/white-background.jpeg");
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header {
    text-decoration: none;
}

header nav {
    text-align: right;
    padding: 0px 50px 0px 50px;
}

header nav ul {
    font-size: larger;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-size: 23px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero {
    background-image: url("../images/white-background.jpeg");
    border-style: groove;
}

section.run-buddy {
    background-image: url("../images/white-background.jpeg");
    background-size: cover;
    border-style: groove;
}

section.run-buddy img {
    width: 13%;
}

section.project-two {
    background-image: url("../images/white-background.jpeg");
    border-style: groove;
}

section.project-three {
    background-image: url("../images/white-background.jpeg");
    border-style: groove;
}

h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

address {
    font-style: normal;
}

.social-media img {
    width: 5%;
    margin: 33px;
}

section.footer {
    border-style: groove;
    background-image: url("../images/white-background.jpeg");

}

/*Media Query For Smaller Desktop Screens and Smaller */
@media screen and (max-width: 700px) {
    header {
        position: auto;
    }
}